.tale {
  border: 2px solid;
  border-radius: 10px;
  background-color: silver;
  width: 300px;

}

.hidden {
  display:none;
}
h2{
  background-color: grey;
  color: white;
}
h1{
  color:white;
}
#radioButt{
  color: white;
  margin-top: 20px;
  font-weight: bold;

}
#addRegistration{
  margin-top: 20px;
}
#radioButt:hover {
  background-color: grey;
}
#textBox{
  font-weight: bold;

}
